<h1>Create a new cocktail</h1>
<%= simple_form_for(@cocktail) do |f| %>
 <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-input">
  <%= f.input :name %>
</div>

 <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>

<%= link_to  "Go back", root_path, class: 'ml-3 btn-primary' %>