<h1>Create a new dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
 <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-input">
  <%= f.input :description %>
</div>

<div class="form-input">
  <%= f.association :ingredient %>
</div>


 <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>

<%= link_to  "Go back", cocktail_path(@cocktail), class: 'ml-3 btn-primary' %>